<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change session</title>

</head>
<body>


<form action="#" th:action="@{/sessions/add}" th:object="${newSession}" method="post">
    <p>
        <label for="movieName">Movie: </label>
        <input type="text" th:field="*{movie}" id="movieName" placeholder="Movie">
    </p>

    <p>
        <label for="time">Time: </label>
        <input type="text" th:field="*{time}" id="time" placeholder="Time">
    </p>

    <p>
        <label for="room">Room: </label>
        <input type="text" th:field="*{room}" id="room" placeholder="Room">
    </p>


    <input type="submit" value="Add session">
</form>
</body>
</html>