<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home - Home Page | Cinema</title>
	<meta charset="UTF-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="page1">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
			<div id="header">
				<div class="row-1">
					<div class="fleft"><a href="index1.html">Cinema <span>No1</span></a></div>
				</div>
			</div>
			<div id="content" class="yellow-background">
				<div id="slogan">
					<div class="image png"></div>
					<div class="inside">
						<h2>Hello there <span>username</span></h2>
						<p>Our cinema is meeting you! Scroll down to see available films.</p>
					</div>
				</div>
				<div class="content">
					<h3>Fresh <span>Movies</span></h3>
					<ul class="movies">
						<li>
							<h4>The Intouchables</h4>
							<div class="wrapper"><a href="#" class="link1"><span><span>Book a ticket</span></span></a></div>
						</li>
						<li class="last">
							<h4>The Twilight Saga: Eclipse</h4>
							<div class="wrapper"><a href="#" class="link1"><span><span>Book a ticket</span></span></a></div>
						</li>
						<li class="last">
							<h4>The Twilight Saga: New Moon</h4>
							<div class="wrapper"><a href="#" class="link1"><span><span>Book a ticket</span></span></a></div>
						</li>
						<li class="last">
							<h4>The Twilight Saga: Breaking Dawn</h4>
							<div class="wrapper"><a href="#" class="link1"><span><span>Book a ticket</span></span></a></div>
						</li>
						<li>
							<h4>The Godfather</h4>
							<div class="wrapper"><a href="#" class="link1"><span><span>Book a ticket</span></span></a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>