<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h2>Hello there<span th:text="${user != null && user.name != null && user.name != '' ? (', ' + user.name + '!') : '!'}">

</span>
</h2>
<p>Our cinema is meeting you!</p>
<div th:switch="${#lists.size(movieList)}">
    <div th:case="0">Sorry, no movies for today :(</div>
    <div th:case="*">
        <h4>Here is a list of movies for today: </h4>
        <ul class="movies">
            <div th:each="movie:${movieList}" th:text="${movie}"/>
        </ul>
    </div>
</div>
<form action="">
    <p>
        <input type="submit" value="Back"/>
    </p>
</form>
</body>
</html>