<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit sessions</title>
</head>
<body>
<h3>All sessions</h3>
<table>
    <thead>
    <tr>
        <th> Movie</th>
        <th> Time</th>
        <th> Room</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${sessionList.empty}">
        <td colspan="2"> No sessions for today yet. Add some!</td>
    </tr>
    <tr th:each="sess : ${sessionList}">
        <td><span th:text="${sess.movie.name}"> Movie </span></td>
        <td><span th:text="${sess.time}"> Time </span></td>
        <td><span th:text="${sess.room.name}"> Room </span></td>
        <td>

            <form th:action="@{'/sessions/edit/' + ${sess.id}}" th:object="${editedSession}" method="post">
                <input type="hidden" name="id" th:value="${sess.id}">
                <input type="hidden" name="movieName" th:value="${sess.movie}">
                <input type="hidden" name="sessionTime" th:value="${sess.time}">
                <input type="hidden" name="roomName" th:value="${sess.room.name}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>

            <form th:action="@{/sessions}" th:object="${deletedSession}" method="post">
                <input type="hidden" name="id" th:value="${sess.id}">
                <input type="hidden" name="movieName" th:value="${sess.movie}">
                <input type="hidden" name="sessionTime" th:value="${sess.time}">
                <input type="hidden" name="roomName" th:value="${sess.room.name}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

session edit
add new
<p><a href="/sessions/add">Add a new session</a></p>

<form action="/">
    <p>
        <input type="submit" value="To main"/>
    </p>
</form>
</body>
</html>